{% extends 'base.html' %}

{% block content %}
    <h1>Thêm giao dịch</h1>
{#    <form method="POST" hx-post="{% url 'add_transaction' %}" hx-target="#inventory">#}
    <form method="POST">
        <select name="material" hx-get="{% url 'get_units' material_id=0 %}" hx-target="#unit-select" hx-swap="innerHTML">
            {% for m in materials %}
            <option value="{{ m.id }}" hx-get="{% url 'get_units' m.id %}">{{ m.name }}</option>
            {% endfor %}
        </select>
        <select name="unit" id="unit-select"></select>
        <input type="number" name="quantity" placeholder="Số lượng">
        <select name="transaction_type">
            <option value="import">Nhập</option>
            <option value="export">Xuất</option>
        </select>
        <button type="submit">Thêm</button>
    </form>
{% endblock %}