{% extends 'base.html' %}

{% block content %}
    <h1>Thêm giao dịch</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="{{ form.materialId.id_for_label }}">Nguyên vâật liệu:</label>
            {{ form.materialId }}
        </div>
         <div>
            <label for="{{ form.unitId.id_for_label }}">Đơn vị:</label>
            {{ form.unitId }}
        </div>
         <div>
            <label for="{{ form.quantity.id_for_label }}">Số lượng:</label>
            {{ form.quantity }}
        </div>
         <div>
            <label for="{{ form.transaction_type.id_for_label }}">Loại giao dịch:</label>
            {{ form.transaction_type }}
        </div>
        <button type="submit">Lưu</button>
    </form>
{% endblock %}