{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col items-center">
        <div class="tabs tabs-border flex justify-center">
            <!-- Tab Nhập kho -->
            <input type="radio" name="my_tabs_2" class="tab" aria-label="Nhập"
                   hx-get="{% url 'add_transaction' %}"
                   hx-target="#tab-content"
                   hx-swap="innerHTML"
                   hx-trigger="change"
                   hx-vals='{"transaction_type": "import"}'/>

            <!-- Tab Xuất kho -->
            <input type="radio" name="my_tabs_2" class="tab" aria-label="Xuất"
                   hx-get="{% url 'add_transaction' %}"
                   hx-target="#tab-content"
                   hx-swap="innerHTML"
                   hx-trigger="change"
                   hx-vals='{"transaction_type": "export"}'/>

            <!-- Tab Tồn kho -->
            <input type="radio" name="my_tabs_2" class="tab" aria-label="Tồn" checked="checked"
                   hx-get="{% url 'get_inventory' %}"
                   hx-target="#tab-content"
                   hx-swap="innerHTML"
                   hx-trigger="change"/>
        </div>

        <!-- Khu vực hiển thị nội dung động của tab -->
        <div id="tab-content" class="border-base-300 bg-base-100 p-10"
             hx-get="{% url 'get_inventory' %}"
             hx-trigger="load"
             hx-swap="innerHTML">
            <!-- Nội dung sẽ được tải động vào đây -->
        </div>
    </div>
{% endblock %}