{% extends 'base.html' %}

{% block content %}
    <h1>Quy đổi đơn vị cho {{ material.name }}</h1>

    <div id="unit-list-quy-doi">
        {% include 'materials/partial/material_units.html' %}

    </div>

    <br>
    <h2>Thêm đơn vị quy đổi cho {{ material.name }}</h2>

    <form method="POST" hx-post="{% url 'manage_units' material.id %}" hx-target="#unit-list-quy-doi">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Thêm đơn vị</button>
    </form>

    <div id="unit-list"></div>
{% endblock %}