{% extends 'base.html' %}

{% block content %}
    <h1 class="text-4xl text-success mb-4">Danh sách nguyên vật liệu</h1>

{#    <button class="btn btn-success">#}
{#        <a href="{% url 'add_material' %}">Thêm nguyên vật liệu</a>#}
{#    </button>#}

    <button class="btn btn-success" onclick="add_material_modal.showModal()">
        Thêm nguyên vật liệu
    </button>
    {% include 'materials/add_material.html' %}


    <div class="overflow-x-auto">
           {% include 'materials/partial/material_table.html' %}
    </div>

    </div>

{% endblock %}